@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Pacifico&family=Protest+Riot&display=swap');
html{
    overflow-x: hidden;
}
body{
    margin:0px;
    padding:0px;
}
.free{
    background-color: rgb(89, 22, 33);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    padding:10px;
}
.bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bar3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bar .bar3 #bar31{
    padding:20px;
}
.bar .bar1{
    font-size: 18px;
}
.bar .bar1 i{
    margin:20px;
}
.bar .bar2{
    color:rgb(89, 22, 33);
    font-size: 18px;
}
*{
    scroll-behavior: smooth;
}
.nav{
    position: sticky;
    top:0px;
    background-color: white;
}
.nav .topnav{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav .bottomnav ul{
    display: flex;
    justify-content: space-evenly;
}
.nav .bottomnav ul li{
    list-style-type: none;
}
.nav .topnav .starnav input{
    border:1px solid grey;
    width:300px;
    height:40px;
    border-radius: 40px;
}
.nav .topnav .starnav input::placeholder{
    font-size: 16px;
    padding-left: 50px;
}
.nav .topnav .midnav{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size:34px;
}
.nav .bottomnav{
    width:500px;
    padding-left:600px;
    padding-top: 10px;
}
.nav .topnav .endnav a{
    font-size: 20px;
    padding:10px;
    text-decoration: none;
    color:black;
}
.nav .bottomnav ul li a{
    text-decoration: none;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cross{
    position: absolute;
    top:10px;
    left:1500px;
    color:white;
}
.search{
    position: absolute;
    top:140px;
    left:480px;
    font-size: 18px;
    z-index:2;
}
.login .login3{
    display: flex;
    justify-content: space-evenly;
}
.login .login1{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
    padding-bottom: 20px;
}
.login .login2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 50px;
}
.login .login3 .login31 .login311{
    font-size: 24px;
    padding-bottom: 30px;
}
.login .login3 .login31 .login312 input{
    width:500px;
    height:40px;
    margin:10px;
}
.login .login3 .login31 .login312 input::placeholder{
    font-size: 14px;
}
.login .login3 .login31 .login313{
    padding-top: 10px;
}
.login .login3 .login31 .login313 a{
    color:black;
}
.login .login3 .login31 .login314{
    background-color:  rgb(89, 22, 33);
    padding:10px 30px 10px 30px;
    border-radius: 40px;
    margin-top: 20px;
    color:white;
    margin-bottom: 100px;
}
.login .login3 .login31 .login314:hover{
    background-color: black;
}
.login .login3 .login32 .login321{
    font-size: 24px;
    padding-bottom: 30px;
}
.login .login3 .login32 .login322{
    color:grey;
    padding-bottom: 30px;
}
.login .login3 .login32 .login323 a{
    text-decoration: none;
    padding:10px 30px 10px 30px;
    border-radius: 40px;
    background-color: rgb(89, 22, 33);
    color:white;
}
.login .login3 .login32 .login323 a:hover{
    background-color: black;
}
#touch #touch2 #touch21{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#touch{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(196, 194, 194);
}
#touch #touch2 #touch22{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#touch #touch1 #touch11{
    padding-top: 100px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 30px;
}
#touch #touch1 #touch12{
    padding-bottom:20px;
}
#touch #touch1 #touch13{
    padding-bottom: 100px;
}
#touch #touch1 #touch13 input{
    height:40px;
    width:300px;
}
#touch #touch1 #touch13 input::placeholder{
    font-size: 16px;
    padding-left: 50px;
}
#touch #touch2 #touch21 div{
    margin:100px 50px 30px 50px;
}
#touch #touch2 #touch22 div{
    margin:0px 50px 10px 50px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(196, 194, 194);
}
.footer .footer2{
    display: flex;
    justify-content: space-evenly;
}
.footer .footer2 div img{
    width:30px;
}
.footer .footer2 div{
    margin:20px;
}
.envelope{
    position: absolute;
    z-index: 3;
    top:1070px;
    left:150px;
}
.arrow{
    position: absolute;
    z-index:3;
    top:1070px;
    left:400px;
}